#page_body{ height: 700px; width: 1300px; }
/* ------------------------------------------------------------------ */
#community_page_top{
    position: absolute;
    height: 120px; width: 900px; left:250px; top: 60px;
    border: 3px solid black;
    border-left: none; border-right: none;
}
#community_page_center{
    position: absolute;
    height: 500px; width: 900px;
    left:250px; top:190px;
}
/* ------------------------------------------------------------------ */
#top_title{ color:rgb(245, 183, 27); font-family: SCD6; font-size: 30px; position: absolute; top:25px; left:38%; }
#top_text{ font-family: SCD3; font-size: 15px; position: absolute; top:64px; left:34%; }
#center_table{
    border-bottom: 2px solid black;
    width: 900px; height: 500px;
    z-index: 100;
}
#table_title{
    width: 100%; height: 30px;
    border-bottom: 2px solid grey;
}
.table_title_list{
    position: absolute; width: 400px; height: 25px;
    font-family: SCD5; font-size: 19px; text-align: center;
    border-right: 1px solid grey;
}
#title0 { width: 60px; }
#title1,#table_content1{  width: 410px; left:60px; }
#title2,#table_content2{ width: 205px; left: 54%; }
#title3,#table_content3{ left: 77%; width: 160px; }
#title4,#table_content4{ 
    left: 95%; width: 45px; 
    font-size: 13px; top:5px;
    border-right: none;
}

/* ------------------------------------------------------------------ */
#table_content{
    position: absolute; top:32px;
    width:900px; height: 470px;
}
#content_none{
    position: absolute; z-index: 150;
    left:350px; top: 30px;
    font-family: SCD4; font-size: 22px;
}
.table_content_list{
    display:inline-block; 
    color:rgb(190, 190, 190); 
    font-size: 13px;
    /* background-color: lightcoral; */
    border-bottom: 2px solid grey;
    text-align: center;
    margin-left: -5px; height: 25px;
    margin-top: 10px;
}
#table_content0{ width:70px;  }
#table_content1{ 
    width: 400px; 
    text-align: left;
    padding-left: 10px; 
}
#table_content1 a{ font-family: SCD7; }
#table_content1 a:hover { color: black; }
#table_content2{ width: 220px; }
/* ------------------------------------------------------------------ */
#table_button{
    /* background-color: skyblue; */
    position: absolute; 
    width: 150px; height: 30px;
    left:750px; top: -45px;
}
#button_insert{
    background-color: rgb(243, 198, 84);
    position: absolute;
    left:70px;
    width: 80px; height: 30px;
    font-family: SCD5;
    color:black;
    border: 1px solid rgb(109, 109, 109);
    border-radius: 5px;
}
#button_insert:hover{
    color:rgb(114, 114, 114);
}

/* ------------------------------------------------------------------ */



/* ------------------------------------------------------------------ */




