#page_body{ height: 750px; }

#dashboard_body{
    position: absolute;
    width: 900px; height: 700px; left:300px;
    /* background-color: lightgreen; */
}
#dashboard_body_top{
    position: absolute;
    width: 720px; height: 50px; left: 100px; top: 40px;
}
/* ---body_button------------------------------------------ */
.dashboard_btns{  display: inline-block; }
.dashboard_btns button{
    border: 2px solid rgba(240, 189, 65);
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    margin-left: 30px;
    font-family: SCD5; color:grey;
    width: 100px; height: 40px;
}
/* ---body_content------------------------------------------ */
#content1,#content2{ position:absolute; width: 90%; height: 48%; left:5%;}
#content2{ height: 45%; top:580px; }

#dashboard_body_cotent{
    border: 2px solid rgba(240, 189, 65);
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: 110px; width: 100%; height: 730px;
}

#content_title{
    width: 100%; height: 30px; margin-top: 10px;
    font-size: 20px;
    font-family: SCD6;
    text-align: center; 
}

/* ---------------------------------------------------------- */
/* ---dashboard2, 4------------------------------------------ */
#content_left,#content_right{ position: absolute; width: 35%; height: 350px; top:20px; left:3%; }
.left_text,.right_text{
    z-index: 100;
    position: absolute;
    top:50px; left:20%;
    font-family: SCD5; font-size: 18px;
}

/* dashboard4 img */
.left_img{
    position: absolute;
    top: 120px; left:5%;
    width: 90%; height: 300px;
    background-image: url('../imgs/tennine.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
#content_right{
    position: absolute;
    width: 700px; height: 470px; left:500px;
}
/* ---div 3------------------------------------------ */
.right_img{
    position: absolute;
    width: 100%; height: 500px;
    /* background-color: lightcoral; */
    top:120px; left:5%;
    background-image: url('../imgs/간접흡연.png');
    background-repeat: no-repeat;
    background-size: 100%;
}   
#left_img_1{
    background-image: url('../imgs/1_1_\ smokingRate.png');
    width: 800px; height: 500px; left:15px; top:100px;
}
#right_img_1{
    background-image: url('../imgs/1_2_OECD.png');
    width: 850px; top:100px; left:-50px;
}
#left_img_2{
    background-image: url('../imgs/2_1_cancerPatient.png');
    top:90px; left:30px; width: 400px; height: 340px;
}
#right_img_2{
    background-image: url('../imgs/2_2_cancerRate.png');
    width: 670px; height: 310px; left: 0px; top:110px;
}
#right_img_4{ left:0px; top:100px; }
#left_img_5,#right_img_5{
    background-image: url('../imgs/dash5_1.png');
    width: 800px; height: 340px; left:0px; top:95px;
}
#right_img_5{
    background-image: url('../imgs/dash5_2.png'); top:105px; left:-10px;
}

/* ---div 1------------------------------------------ */
#left_text_1{ left:37%; }
#right_text_1{ left:30%; }
#left_text_2{left:60px; top:40px;}
#right_text_2{left:200px; top:40px;}
#left_text_5,#right_text_5{ width: 100%; text-align: center; left:0px; }

/* ---div 4------------------------------------------ */
.left_text2,.right_text2{
    position: absolute;
    text-align: right; padding-right:15px;
    height: 30px; top:92%; width: 300px; left:60%;
    font-family: SCD3; font-size: 12px; color:rgb(75, 75, 75);
}

#right_text2_1{top:97%;}
#left_text2_2{ z-index:100; top:128%; left:25%; width: 350px; }
#right_text2_2{top:440px; left:380px;}
#left_text2_4{ top:117%; left:52%; width:170px; }
#right_text2_4{z-index: 100; top:410px; left:350px;}
#left_text2_5{ top:440px; }
#right_text2_5{top:450px;}


/* ---div 2------------------------------------------ */
.left_text3,.right_text3{
    /* background-color: red; */
    width: 100%; height: 20px; left: 40px;
    position: absolute; top:80px;
    z-index: 100;
    font-size: 11.5px;
}
#left_text3_2{ width: 400px; top:75px; }
#right_text3_2{ width: 600px; left:30px; top:75px; }
#left_text3_4{ height: 30px; }
#right_text3_4{ width: 590px; left:110px; }
#content_title p{ 
    font-size: 12px; 
    position: absolute;
    left:82%; top:15px;
}
#left_text3_5{ left:60px; width:500px;}
#right_text3_5{ left:60px; height: 35px; width:650px; }
#right_text3_5 p{ left:20px; position: absolute;}

#text3_4_1{ position: absolute; left:20px; }
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

