#page_body{
    height: 700px;
}
#dashboard_left{
    position: absolute;
    width: 280px; height: 700px; left:120px;
    /* background-color: lightcoral; */
}
#dashboard_right{
    position: absolute;
    width: 900px; height: 700px; left:400px;
    background-color: lightgreen;
}
#dashboard_right_top{
    position: absolute;
    width: 900px; height: 100px; 
    background-color: lightgrey;
}
.dashboard{ display: inline-block; }
.dashboard button{
    border: 2px solid rgba(240, 189, 65);
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    margin-left: 10px;
}