*{
    margin:0;
    padding:0;
    /* font-family: ; */
}
#page_head,#page_body,#page_foot,#head_menu{
    width:100%;
}
#page_head{
    position:relative;
    border: 2px solid red;
    height: 120px;
}

#page_body{
    /* border: 2px solid blue;
    background-color: skyblue; */
    position:relative;
    height: 1300px;
}
#page_foot{
    border: 1px solid red;
    position:relative;
    height: 100px;
}
/* -------------------------------------------------- */

#head_title{
    /* border: 1px solid hotpink; */
    position: relative;
    /* background-color: hotpink; */
    /* position: absolute; */
    /* opacity: 0.3; */
    /* ------------------------------ */
    height: 60px;
    display: inline-block;
}
#head_logo{
    border: 1px solid yellow;
    background-color: yellow;
    /* ------------------------------ */
    position:absolute;
    left:100px; top:30%;
    width: 210px; height: 50px;
}

#head_quote{    
    border: 1px solid green;
    /* background-color: green; */
    /* ------------------------------ */
    position:absolute;
    color:grey;
    text-align: center;
    font-size: 25px;
    left:450px; top:20%;
    width: 600px; height: 35px;
}
#head_signup{
    border: 1px solid hotpink;
    /* background-color: hotpink; */
    /* ------------------------------ */
    position:absolute;
    left:1200px; top:40%;
    width: 115px; height: 30px;
    /* padding-left: 30px; */
    /* padding-top: 100px; */
}
#head_signup > span {
    color:grey;
}

#head_menu{
    /* position: absolute; */
    position: relative;
    /* display: inline-block; */
    /* border: 1px solid skyblue;
    background-color: skyblue; */
    /* opacity: 0.4; */
    /* ------------------------------ */
    /* top:180px; */
    width:100%; height: 55px;
    text-align: center;
}
/* #menu_img{
    position: relative;
    float:left; 
    left: 8%;
    margin-top :14px;
    margin-right:20px;
    width:30px;
} */
#submenus{ 
    /* position: absolute; */
    width:700px; height: 50px; 
    /* float: right; */
    /* left:100px; */
    display: inline-block;
    align-content: center;    
}
.submenu{
    position: relative;
    display:inline-block;
    font-size: 20px;
    font-weight: bold;
    padding-top:15px;
    margin-left: 50px;
    margin-right: 10px;
}
.submenu:hover{ color:firebrick;}





    /* ------------------------------ */
<<<<<<< Updated upstream
    /* page_footer */
#page_foot{
    text-align: center;
    font-size: 15px;
=======
    position: relative;
    height: 440px;
    width: 1500px;
    /* width: 90%;
    left: 5%; */
}
#slide01{
    /* width: 600px;
    height: 600px; */
    max-width: 100%; height: 440px;
    display: block;  
    margin: auto;

}

#slide02{
    /* width: 600px;
    height: 600px; */
    width: 1150px; height: 440px;
    display: block;  
    margin: auto;

}

#slide03{
    /* width: 600px;
    height: 600px; */
    max-width: 160%; height: 440px;
    display: block;  
    margin: auto;

}

.fa-chevron-left{
    background-color: rgba(0, 0, 0, 0.5);
    width:40px;
    height:60px;
    padding-top:9px;
    display:flex;
    justify-content: center;
    min-height:1px;
    border:1px solid #263945;
    background-color: rgba(0,0,0,.5);
    cursor : pointer;
    color:white;
    position : absolute;
    left :8px;
    top : 180px;
}
.fa-chevron-right{
    background-color: rgba(0, 0, 0, 0.5);
    width:40px;
    height:60px;
    padding-top:9px;
    display:flex;
    justify-content: center;
    min-height:1px;
    border:1px solid #263945;
    background-color: rgba(0,0,0,.5);
    cursor : pointer;
    color: white;
    position : absolute;
    top:180px;
    right:8px;
}

.slide button{
    z-index:10;
    top : 50%;
}

.slide button.slick-prev{
    left:30px;
    background-color: rgba(0, 0, 0, 0.5);
    width:40px;
    height:60px;
    border:1px solid #263945;
    cursor : pointer;
    color:#00aeff;
}

.slide button.slick-next{
    right:50px;
    display : block;
    background-color: rgba(0, 0, 0, 0.5);
    width:40px;
    height:60px;
    border:1px solid #263945;
    cursor : pointer;
    color:#00aeff;
}

/* -------------------------------------------------- */

#body_bottom{
    width:1500px;
}
#body_left{
    margin-left: 10px;
    display: inline-block;
    border:2px solid blue;
    width:300px; height: 800px;
}
#body_center{
    display: inline-block;
    border:2px solid blue;
    width:860px; height: 800px;
}
#body_right{
    display: inline-block;
    border:2px solid blue;
    width:300px; height: 800px;
>>>>>>> Stashed changes
}

#detail_logo{
    position:absolute;
    left:100px; top:30%;
    width: 210px; height: 50px;
}

.foot_contact{
    font-size: 40px;
    font-weight: bolder;
    font-family: SCD6;
    text-align: center;
}

#hourtitle{
    font-size: 20px;
    font-weight: bolder;
    font-family: SCD6; 
    text-align: center;

}

.workinghour{
    font-size: 15px;
    font-family: SCD6;
    text-align: center;
    font-weight: bolder;    
}

#company_name{
    font-size: 20px;
    font-family: SCD6;
    text-align: center;
    display: inline-block;
}

.foot_contact{
    text-align: center;
    display: inline-block;
}

#copyright{
    font-size: 15px;
    font-family: SCD6;
    text-align: center;
    display: inline-block;  
}