#signup_page_body{
    position:relative; 
    height: 820px;
}
#signup_body{
    position:absolute;
    background-color: rgba(253, 238, 29, 0.1);
    width: 600px; height: 820px; left:400px;
    border: 2px solid rgb(177, 177, 177);
    border-radius: 10px;
}
#form_text{
    top: 25px;
}
#form1,#form2,#form3,#form4{
    /* border:1px solid rgba(240, 189, 65); */
    position: absolute; width: 100%;
}
#form1{ top:60px; height: 220px; }
#form1 div, #form2 div, #form3 div{
    position: absolute;
    width: 600px; height: 60px; left:70px;
    text-align: left;
    /* border: 1px solid lightcoral; */
}
#form1 div input, #form2 div input, #form3 div input{
    position: absolute;
    width:300px; height: 30px; padding-left: 15px; 
    left: 130px; top:-10px;
    font-size: 17px;
}
#form_id{ top:30px; }
#form_pw{ top:100px; }
#form_pw2{ top:170px; }



#alert-success{ top: 29px; font-size: 13px; 
    position: absolute;
    width: 300px;
    height: 30px;
    padding-left: 15px;
    left: 184px;
    top: 260px;}

#alert-danger{ top: 29px; font-size: 13px; 
    position: absolute;
    width: 300px;
    height: 30px;
    padding-left: 15px;
    left: 184px;
    top: 260px; }

#form2{ top:280px; height: 320px; }
#form2 select { position: absolute; left: 130px; top: -5px; width:50px; height: 30px; }
#form_name{ top:20px;}
#form_birthday{ top:90px;}
#form_gender{ top:150px;}
#form_email{ top:210px;}
#form_phone{ top:280px;}

#form3{ top:630px; height: 200px; }
#form_startday{ top:70px;}

#form4{
    top:760px; left:170px; width: 400px; 
}
#form4 div{display: inline-block;}
#form4 div input{ 
    width:130px; height: 40px; 
    border: none; border-radius: 5px;
}
#form_submit input{ background-color: rgba(240, 189, 65,0.8);}
#form_submit input:hover{ background-color: rgba(240, 189, 65);}
#form_cancle input{ margin-left: 20px; }
#form_cancle input:hover { margin-left: 20px; background-color: rgba(177,177,177,0.5) ; }

