<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=" UTF-8">
    <title>노담지킴이</title>
    <link href="../static/resources/imgs/logo.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/resources/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/resources/css/clinic.css">
    <script src='../static/resources/js/jquery-3.6.0.min.js'></script>
    <script>
    //--------------------------------------------------------------------------
        
        let xhttp2 = new XMLHttpRequest();
        
        xhttp2.onreadystatechange = function () {
            if(xhttp2.readyState == 4 && xhttp2.status == 200){
                create_list(this.responseText); 
            }
        }
        xhttp2.open("GET","../static/resources/crawling/publicHealth.json", true);
        xhttp2.send();

        function create_list( jsonText ) {
            let json = JSON.parse(jsonText); // String -> json으로 변환
            json = json['list']
            // console.log(json)
            
            var keys = Object.keys(json);
            var list_select = document.getElementById('select_area')

            for(var i = 0; i<keys.length;i++){
                // console.log(json[keys[i]][0])
                var area = json[keys[i]][0]['area']
                
                // console.log(area)
                var list_option = document.createElement('option')
                list_option.innerHTML=area
                list_option.setAttribute('value',keys[i])
                list_select.appendChild(list_option)
            }
        }

    //--------------------------------------------------------------------------
        function search_health(i){
            // console.log(i)
            let xhttp3 = new XMLHttpRequest();
        
            xhttp3.onreadystatechange = function () {
                if(xhttp3.readyState == 4 && xhttp3.status == 200){
                    health(this.responseText,i); //this = xhttp
                }
            }
            xhttp3.open("GET","../static/resources/crawling/publicHealth.json", true);
            xhttp3.send();

            function health(jsonText,num){
                let json = JSON.parse(jsonText);
                json = json['list']
                
                var result = document.getElementById('result_table')
                
                if (result.hasChildNodes('tr')){
                    var child_tr = document.getElementsByClassName('content_tr')

                    while(child_tr.length > 0){
                        child_tr[0].parentNode.removeChild(child_tr[0]);
                    }
                }

                for (var i=0; i<json[num].length; i++){
                    var content_tr = document.createElement('tr')

                    content_tr.setAttribute('class','content_tr')
                    content_tr.setAttribute('id','tr'+i)

                    td_list = ['area','public','address','tel']

                    for (var j=0; j<4; j++){
                        var content_td = document.createElement('td')
                        content_td.innerHTML = (json[num][i][td_list[j]])
                        content_td.setAttribute('class',td_list[j]+'_td')
                        content_tr.appendChild(content_td)
                    }

                    result.appendChild(content_tr)
                }
            }
        }
        search_health(11);
    </script>
</head>
<body>
    <div id="page_head">
        <div id="head_title">
            <div id="head_logo"><img src="../static/resources/imgs/logo.png" width="120px"></div>
            <div id="head_quote">" 나는 네가 <p>#노담</p>이면 좋겠어 "</div>
            <div id="head_signup">
                {% if not request.session.username %}
                    <a href="{% url 'signup' %}"><span> 회원가입 </span></a>
                    <a href="{% url 'login' %}"><span> 로그인 </span></a>
                {% else %}
                    <a href="{% url 'logout' %}"><span id="logout_text"> 로그아웃 </span></a>
                {% endif %}
            </div>
        </div>

        <div id="head_menu">
            <ul>
                <!-- <span><img id='menu_img' src="menu_img.png"></span> -->
                <div id="submenus">
                    <a href="{% url 'index' %}"><ol class="submenu" >메인</ol></a>
                    <a href="{% url 'smokingmap' %}"><ol class="submenu">흡연/금연구역</ol></a>
                    <a href="{% url 'clinic' %}"><ol class="submenu" style="color:rgba(240, 189, 65);">금연 클리닉</ol></a>
                    <a href="{% url 'community' %}"><ol class="submenu">커뮤니티</ol></a>
                    <a href="{% url 'dashboard' %}"><ol class="submenu">대시보드</ol></a>
                </div>
            </ul>
        </div>
    </div>
    <div id="page_body">

        <div id="clinicSearch">
            <label id="area">
                <h3>보건소</h3>
                <a>지역선택</a>
                <select name="area" id="select_area"></select>
            </label>
        </div>

        <div id="search">
            <table>
                <colgroup >
                    <col style="width:135px">
                    <col style="width:230px">
                    <col style="width:600px">
                    <col style="width:130px">
                </colgroup>

                <thead>
                    <tr>
                        <th scope="col">지역</th>
                        <th scope="col">기관</th>
                        <th scope="col">주소</th>
                        <th scope="col">연락처</th>
                    </tr>
                </thead>

                <div id="tbodyId">
                    <tbody id="result_table"></tbody>
                </div>
            </table>  
        </div>
    </div>

    <div id="page_foot">
        <div id="foot_logo"></div> 
        <div id="companyinfo">
            <p id="company_address">(주) 멀캠에서 코딩해조 | 서울특별시 강남구 언주로 508 14층(역삼동, 서울상록빌딩)</p>
            <p id="copyright">Copyright by Multicoding Co., Ltd. All rights reserved.</p>
        </div>
    </div>
</body>
</html>

<script>
    var select1 = document.getElementById('select_area')
        // console.log(select1)
        $('select').on("change",function(){
            search_health($(this).val())
        })
</script>