<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>노담지킴이</title>
    <link href="../static/resources/imgs/logo.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/resources/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/resources/css/community.css">
    <script src='../static/resources/js/jquery-3.6.0.min.js'></script>
</head>
<body>
    <!-- page_head -->
    <div id="page_head">
        <div id="head_logo"></div>
        <div id="head_title">
            <div id="head_quote">" 나는 네가 <p>#노담</p>이면 좋겠어 "</div>
            <div id="head_signup">
                {% if not request.session.username %}
                    <a href="{% url 'signup' %}"><span> 회원가입 </span></a>
                    <a href="{% url 'login' %}"><span> 로그인 </span></a>
                {% else %}
                    <a href="{% url 'logout' %}"><span id="logout_text"> 로그아웃 </span></a>
                {% endif %}
            </div>
        </div>

        <div id="head_menu">
            <ul>
                <div id="submenus">
                    <a href="{% url 'index' %}"><ol class="submenu" >메인</ol></a>
                    <a href="{% url 'smokingmap' %}"><ol class="submenu">흡연/금연구역</ol></a>
                    <a href="{% url 'clinic' %}"><ol class="submenu">금연 클리닉</ol></a>
                    <a href="{% url 'community' %}"><ol class="submenu" style="color:rgba(240, 189, 65);">커뮤니티</ol></a>
                    <a href="{% url 'dashboard' %}"><ol class="submenu">대시보드</ol></a>
                </div>
            </ul>
        </div>
    </div>


    <!-- page_body -->
    <div id="page_body">
        <div class="community_page_top">
            <div id="top_title">노담노담 커뮤니티</div>
            <div id="top_text">#담배는 노답, #나는 노담! 우리 함께 이겨냅시다!</div>
        </div>

        <div class="community_page_center">
            <div id="center_table">
                <div id="table_title">
                    <div class="table_title_list" id="title0">번호</div>
                    <div class="table_title_list" id="title1">제목</div>
                    <div class="table_title_list" id="title2">작성자</div>
                    <div class="table_title_list" id="title3">작성일</div>
                    <div class="table_title_list" id="title4">조회수</div>
                </div>
                <div id="table_content">
                    {% if not list %}
                        <div id="content_none">작성된 글이 없습니다.</div>  
                    {% else %}
                        {% for data in list %}
                            <div id="table_content_list2">
                                <div class="table_content_list" id="table_content0">{{ data.id }}</div>
                                <div class="table_content_list" id="table_content1"><a href="{% url 'detail' data.id %}">{{ data.mytitle }}</a></div>
                                <div class="table_content_list" id="table_content2">{{ data.myname }}</div>
                                <div class="table_content_list" id="table_content3">{{ data.mydate | date:"Y-m-d A h:i" }}</div>
                                <div class="table_content_list" id="table_content4">{{ data.hit }}</div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div id="table_button">
                    <input type="button" id="button_insert" value="글 작성" onclick="location.href='/insertform'">
                </div>
            </div>
        </div>

        <!-- 버튼 -->
        <div class="community_page_bottom">
            <div id="bottom_button">
                <a href="?page=1" class="button1">처음</a>
                <!-- 이전 페이지 -->
                {% if list.has_previous %}
                    <a href="?page={{list.previous_page_number}}">이전</a>
                {% else %}
                    <a>이전</a>
                {% endif%}

                <!-- 페이징 -->
                {% for page_num in list.paginator.page_range %}
                    {% if page_num == list.number %}
                        <b>{{ page_num }}</b>
                    {% else %}
                        <a href="?page={{ page_num }}">{{ page_num }}</a>
                    {% endif %}
                {% endfor %}

                <!-- 다음 페이지 -->
                {% if list.has_next %}
                    <a href="?page={{ list.next_page_number }}">다음</a>
                {% else %}
                    <a>다음</a>
                {% endif %}

                <!-- 끝으로 -->
                <a href="?page={{ list.paginator.num_pages }}" class="button1">끝</a>
            </div>


        </div>
    </div>


    <!-- page_foot -->
    <div id="page_foot">
        <div id="foot_logo"></div> 
        <div id="companyinfo">
            <p id="company_address">(주) 멀캠에서 코딩해조 | 서울특별시 강남구 언주로 508 14층(역삼동, 서울상록빌딩)</p>
            <p id="copyright">Copyright by Multicoding Co., Ltd. All rights reserved.</p>
        </div>
    </div>
</body>
</html>