<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=" UTF-8">
    <title>노담지킴이</title>
    <link href="../static/resources/imgs/logo.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/resources/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/resources/css/dashboard.css">
    <script src='../static/resources/js/jquery-3.6.0.min.js'></script>
    <script>
        $(document).ready(function(){
            // alert('hi');
        });
        function dash1(){location.href = '{% url "dashboard1" %}';}
        function dash2(){location.href = '{% url "dashboard2" %}';}
        function dash3(){location.href = '{% url "dashboard3" %}';}
        function dash4(){location.href = '{% url "dashboard4" %}';}
        function dash5(){location.href = '{% url "dashboard5" %}';}
    </script>
</head>
<body>
    <div id="page_head">
        <div id="head_title">
            <div id="head_logo"><img src="../static/resources/imgs/logo.png" width="120px"></div>
            <div id="head_quote">" 나는 네가 <p>#노담</p>이면 좋겠어 "</div>
            <div id="head_signup">
                {% if not request.session.username %}
                    <a href="{% url 'signup' %}"><span> 회원가입 </span></a>
                    <a href="{% url 'login' %}"><span> 로그인 </span></a>
                {% else %}
                    <a href="{% url 'logout' %}"><span id="logout_text"> 로그아웃 </span></a>
                {% endif %}
            </div>
        </div>

        <div id="head_menu">
            <ul>
                <!-- <span><img id='menu_img' src="menu_img.png"></span> -->
                <div id="submenus">
                    <a href="{% url 'index' %}"><ol class="submenu">메인</ol></a>
                    <a href="{% url 'smokingmap' %}"><ol class="submenu">흡연/금연구역</ol></a>
                    <a href="{% url 'clinic' %}"><ol class="submenu">금연 클리닉</ol></a>
                    <a href="{% url 'community' %}"><ol class="submenu">커뮤니티</ol></a>
                    <a href="{% url 'dashboard' %}"><ol class="submenu" style="color:rgba(240, 189, 65);">대시보드</ol></a>
                </div>
            </ul>
        </div>
    </div>
    <div id="page_body" style="height: 1300px;">
        
        <div id="dashboard_body">
            <!-- 대쉬보드 버튼  -->
            <div id="dashboard_body_top">
                <div class="dashboard_btns"><button id="dashboard1" onclick="dash1();">대시보드 1</button></div>
                <div class="dashboard_btns"><button id="dashboard2" onclick="dash2();">대시보드 2</button></div>
                <div class="dashboard_btns"><button id="dashboard3" onclick="dash3();">대시보드 3</button></div>
                <div class="dashboard_btns"><button id="dashboard4" onclick="dash4();">대시보드 4</button></div>
                <div class="dashboard_btns"><button id="dashboard5" onclick="dash5();" style="background-color: rgba(240, 189, 65); font-family: SCD6; color:black">대시보드 5</button></div>
            </div>

            <!-- 대쉬보드 내용  -->
            <div id="dashboard_body_cotent" style="height: 1150px;">
                <div id="content_title">서울시 자치구별 흡연 실태</div>
                <div id="content1">
                    <div class="left_text" id="left_text_5"> 그림 1. 서울시 자치구별 천 명당 흡연시설 수 </div>
                    <div class="left_text3" id="left_text3_5">◦ 서울시 자치구별 흡연율은 약 12%~19%로 자치구별 편차가 크지 않음</div>
                    <div class='left_img' id="left_img_5"></div>
                    <div class="left_text2" id="left_text2_5">< 출처 : 2020년 서울시 지역사회 건강통계 ></div>
                </div>
                <div id="content2">
                    <div class="right_text" id="right_text_5">그림 2. 서울시 자치구별 흡연율</div>
                    <div class="right_text3" id="right_text3_5">◦ 서울시 자치구별 흡연률은 큰 편차를 보이지 않는 반면(<그림 1> 참조), 자치구별 천 명당 흡연시설 수의 편차는 매우 큼
                        <p> 천 명당 흡연시설 수는 광진구(약 0.7개)에 가장 많이 분포되어 있고, 동작구(약 0.002개)는 가장 적게 분포되어 있음</p> </div>
                    <div class='right_img' id="right_img_5"></div>
                    <div class="right_text2" id="right_text2_5">< 출처 : 2020~2021년 서울특별시 흡연시설 현황 ></div>
                </div>
            </div>
        
        </div>

        
        
    </div>

    <div id="page_foot">
        <div id="foot_logo"></div> 
        <div id="companyinfo">
            <p id="company_address">(주) 멀캠에서 코딩해조 | 서울특별시 강남구 언주로 508 14층(역삼동, 서울상록빌딩)</p>
            <p id="copyright">Copyright by Multicoding Co., Ltd. All rights reserved.</p>
        </div>
    </div>
        
</body>
</html>
