<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=" UTF-8">
    <title>main</title>
    <link rel="stylesheet" type="text/css" href="../static/resources/css/main.css">
    <script src='../static/resources/js/jquery-3.6.0.min.js'></script>
    <script>
        $(document).ready(function(){
            // alert('hi');
        });
        function dash1(){location.href = '{% url "dashboard1" %}';}
        function dash2(){location.href = '{% url "dashboard2" %}';}
        function dash3(){location.href = '{% url "dashboard3" %}';}
        function dash4(){location.href = '{% url "dashboard4" %}';}
        
    </script>
</head>
<body>
    <div id="page_head">
        <div id="head_title">
            <div id="head_logo"><img src="../static/resources/imgs/logo.png" width="120px"></div>
            <div id="head_quote">" 나는 네가 <p>#노담</p>이면 좋겠어 "</div>
            <div id="head_signup">
                <a href="{% url 'signup' %}"><span> 회원가입 </span></a>
                <span>/</span>
                <a href="{% url 'login' %}"><span> 로그인 </span></a>
            </div>
        </div>

        <div id="head_menu">
            <ul>
                <!-- <span><img id='menu_img' src="menu_img.png"></span> -->
                <div id="submenus">
                    <a href="{% url 'index' %}"><ol class="submenu">메인</ol></a>
                    <a href="{% url 'smokingmap' %}"><ol class="submenu">흡연/금연구역</ol></a>
                    <a href="{% url 'clinic' %}"><ol class="submenu">금연 클리닉</ol></a>
                    <a href="{% url 'community' %}"><ol class="submenu">커뮤니티</ol></a>
                    <a href="{% url 'dashboard' %}"><ol class="submenu" style="color:rgba(240, 189, 65);">대시보드</ol></a>
                </div>
            </ul>
        </div>
    </div>
    <div id="page_body">
        <div class="dashboard_button"><button id="dashboard1" onclick="dash1();">대쉬보드 1</button></div>
        <div class="dashboard_button"><button id="dashboard2" onclick="dash2();">대쉬보드 2</button></div>
        <div class="dashboard_button"><button id="dashboard3" onclick="dash3();">대쉬보드 3</button></div>
        <div class="dashboard_button"><button id="dashboard4" onclick="dash4();">대쉬보드 4</button></div>
    </div>

    <div id="page_foot">
        <div class="detail_info">
            <p class="foot_contact">금연 상담 연락처 : 1544-9030</p>
            <p class="foot_contact">영업시간 : </p>
            <br>
            <p class="foot_company">(주) 멀캠에서 코딩해조</p>
            <p class="foot_address"> 서울특별시 강남구 언주로 508 14층(역삼동, 서울상록빌딩)</p>
            <p class="foot_copy">Copyright by Multicoding Co., Ltd. All rights reserved.</p>
        </div>
    </div>
</body>
</html>
