<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=" UTF-8">
    <title>노담지킴이</title>
    <link href="../static/resources/imgs/logo.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/resources/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/resources/css/dashboard.css">
    <script src='../static/resources/js/jquery-3.6.0.min.js'></script>
    <script>
        $(document).ready(function(){
            // alert('hi');
        });
        function dash1(){location.href = '{% url "dashboard1" %}';}
        function dash2(){location.href = '{% url "dashboard2" %}';}
        function dash3(){location.href = '{% url "dashboard3" %}';}
        function dash4(){location.href = '{% url "dashboard4" %}';}
        function dash5(){location.href = '{% url "dashboard5" %}';}
    </script>
</head>
<body>
    <div id="page_head">
        <div id="head_title">
            <div id="head_logo"><img src="../static/resources/imgs/logo.png" width="120px"></div>
            <div id="head_quote">" 나는 네가 <p>#노담</p>이면 좋겠어 "</div>
            <div id="head_signup">
                {% if not request.session.username %}
                    <a href="{% url 'signup' %}"><span> 회원가입 </span></a>
                    <a href="{% url 'login' %}"><span> 로그인 </span></a>
                {% else %}
                    <a href="{% url 'logout' %}"><span id="logout_text"> 로그아웃 </span></a>
                {% endif %}
            </div>
        </div>

        <div id="head_menu">
            <ul>
                <!-- <span><img id='menu_img' src="menu_img.png"></span> -->
                <div id="submenus">
                    <a href="{% url 'index' %}"><ol class="submenu">메인</ol></a>
                    <a href="{% url 'smokingmap' %}"><ol class="submenu">흡연/금연구역</ol></a>
                    <a href="{% url 'clinic' %}"><ol class="submenu">금연 클리닉</ol></a>
                    <a href="{% url 'community' %}"><ol class="submenu">커뮤니티</ol></a>
                    <a href="{% url 'dashboard' %}"><ol class="submenu" style="color:rgba(240, 189, 65);">대시보드</ol></a>
                </div>
            </ul>
        </div>
    </div>
    <div id="page_body" style="height: 650px;">
        
        <div id="dashboard_body" >
            <!-- 대쉬보드 버튼  -->
            <div id="dashboard_body_top">
                <div class="dashboard_btns"><button id="dashboard1" onclick="dash1();">대시보드 1</button></div>
                <div class="dashboard_btns"><button id="dashboard2" onclick="dash2();" style="background-color: rgba(240, 189, 65); font-family: SCD6; color:black">대시보드 2</button></div>
                <div class="dashboard_btns"><button id="dashboard3" onclick="dash3();">대시보드 3</button></div>
                <div class="dashboard_btns"><button id="dashboard4" onclick="dash4();">대시보드 4</button></div>
                <div class="dashboard_btns"><button id="dashboard5" onclick="dash5();">대시보드 5</button></div>
            </div>

            <!-- 대쉬보드 내용  -->
            <div id="dashboard_body_cotent" style="width:1200px; height: 500px; left:-200px;">
                <div id="content_title"> 흡연과 폐암의 관련성 </div>
                <div id="content_left">
                    <div class="left_text" id="left_text_2">그림 1. 폐암 환자의 과거 흡연 여부 통계</div>
                    <div class="left_text3" id="left_text3_2">◦ 폐암 환자 중 남성은 28.52%, 여성은 9.17%가 과거 흡연 경험이 있음</div>
                    <div class='left_img' id="left_img_2"></div>
                    <div class="left_text2" id="left_text2_2">< 출처 : 국립암센터_폐암 라이브러리 환자 현재 흡연 여부 > </div>
                </div>
                <div id="content_right">
                    <div class="right_text" id="right_text_2">그림 2. 주요 암으로 인한 사망자 수 통계 </div>
                    <div class="right_text3" id="right_text3_2">◦ 최근 5년동안 주요 암 중 폐암으로 인한 사망자 수가 가장 많은 비중을 차지함</div>
                    <div class='right_img' id="right_img_2"></div>
                    <div class="right_text2" id="right_text2_2">< 출처 : 보건복지부 암등록통계 ></div>
                </div>
            </div>
        
        </div>

        
        
    </div>

    <div id="page_foot">
        <div id="foot_logo"></div> 
        <div id="companyinfo">
            <p id="company_address">(주) 멀캠에서 코딩해조 | 서울특별시 강남구 언주로 508 14층(역삼동, 서울상록빌딩)</p>
            <p id="copyright">Copyright by Multicoding Co., Ltd. All rights reserved.</p>
        </div>
    </div>
</body>
</html>
