<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=" UTF-8">
    <title>main</title>
    <link rel="stylesheet" type="text/css" href="../static/resources/css/main.css">
    <script src='../static/resources/js/jquery-3.6.0.min.js'></script>
    <script></script>
</head>
<body>
    <div id="page_head">
        <div id="head_title">
            <div id="head_logo"><img src="../static/resources/imgs/logo.png" width="120px"></div>
            <div id="head_quote">" 나는 네가 <p>#노담</p>이면 좋겠어 "</div>
            <div id="head_signup">
                <a href="{% url 'signup' %}"><span> 회원가입 </span></a>
                <span>/</span>
                <a href="{% url 'login' %}"><span> 로그인 </span></a>
            </div>
        </div>

        <div id="head_menu">
            <ul>
                <!-- <span><img id='menu_img' src="menu_img.png"></span> -->
                <div id="submenus">
                    <a href="{% url 'index' %}"><ol class="submenu" style="color:rgba(240, 189, 65);">메인</ol></a>
                    <a href="{% url 'dashboard' %}"><ol class="submenu">대시보드</ol></a>
                    <a href="{% url 'smokingmap' %}"><ol class="submenu">흡연/금연구역</ol></a>
                    <a href="{% url 'clinic' %}"><ol class="submenu">금연 클리닉</ol></a>
                    <a href="{% url 'community' %}"><ol class="submenu">커뮤니티</ol></a>
                </div>
            </ul>
        </div>
    </div>
    <div id="page_body">
        <div id="body_top">

        </div>
        <div id='body_bottom'>
            <div id="body_left">
                <div id="body_profile">

                </div>
            </div>

            <div id="body_center">

            </div>
            <div id="body_right">

            </div>
        </div>
        
        <div id="page_foot">
            <div id="detail_logo"><img src="..\static\resources\imgs\footicon.png" width="35px"></div>
            <div class="detail_info">
                <p id="foot_contact">금연상담전화 : 1544-9030</p>
                <p id="hourtitle">영업시간</p>
                <div class="workinghour">
                <p id="weekday">평일: 09:00~22:00</p>
                <p id="holiday">공휴일: 09:00 ~18:00</p>
                <p id="ARS">ARS: 24시간</p>
                </div>
            </div>
            <br>
            <br>            
            <div id="companyinfo">
                <p id="company_name">(주) 멀캠에서 코딩해조</p>
                <p id="company_address">서울특별시 강남구 언주로 508 14층(역삼동, 서울상록빌딩)</p>
                <p id="copyright">Copyright by Multicoding Co., Ltd. All rights reserved.</p>
            </div>
        </div>
</body>
</html>
