<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta charset=" UTF-8">
    <title>노담지킴이</title>
    <link rel="stylesheet" type="text/css" href="../static/resources/css/map.css">
    <script src='../static/resources/js/jquery-3.6.0.min.js'></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  


    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script type="text/javascript">
        $(document).ready(function(){
            document.getElementById('mapdiv').innerHTML='<object width="100%" height="635px" type="text/html" data="../static/resources/html/히트맵.html"></object>';
            document.getElementById('map_content').innerText='서울시의 흡연구역은 중랑구, 광진구, 은평구가 가장 많습니다.'
            document.getElementById('map_head_content').innerText='히트맵'
            $('.godwjdrn').change(function(){
                document.getElementById('mapdiv').innerHTML='';
                var value_name = $('option:selected', this).text();
                //console.log(value_name)
                document.getElementById('mapdiv').innerHTML='<object width="100%" height="600px" type="text/html" data="../static/resources/html/'+value_name+'.html"></object>';
                if (value_name == '서울시'){
                    document.getElementById('map_content').innerText='서울시에 있는 흡연구역은 총 322개있습니다.'
                } else if (value_name=='서울시 금연구역'){
                        document.getElementById('map_content').innerText='서울시에 있는 금연구역은 총 5292개가 있습니다'
                        document.getElementById('map_head_content').innerText='금연구역 지도';
                    }  else if (value_name=='히트맵'){
                        //document.getElementById('map_content').innerText='금연구역 설명'
                        document.getElementById('map_head_content').innerText='히트맵';
                    }else {
                        document.getElementById('map_head_content').innerText='흡연구역 지도';
                        var dict_gu = {}
                        dict_gu['강남구'] = '2';
                        dict_gu['강동구'] = '0';
                        dict_gu['강서구'] = '12';
                        dict_gu['강북구'] = '5';
                        dict_gu['관악구'] = '5';
                        dict_gu['광진구'] = '12';
                        dict_gu['구로구'] = '12';
                        dict_gu['노원구'] = '5';
                        dict_gu['동대문구'] = '27';
                        dict_gu['동작구'] = '1';
                        dict_gu['마포구'] = '3';
                        dict_gu['서대문구'] = '4';
                        dict_gu['서초구'] = '24';
                        dict_gu['성동구'] = '1';
                        dict_gu['송파구'] = '4';
                        dict_gu['양천구'] = '24';
                        dict_gu['영등포구'] = '53';
                        dict_gu['용산구'] = '37';
                        dict_gu['은평구'] = '65';
                        dict_gu['중구'] = '5';
                        dict_gu['중랑구'] = '56';
                        
                        document.getElementById('map_content').innerText=value_name+'에는 흡연구역은 총 '+dict_gu[value_name]+'개 있습니다';
                    }

                })
                //if value_name == ['히트맵']
            })


    </script>
</head>
<body style="overflow-x:hidden";> 
    <div id="page_head">
        <div id="head_logo"></div>
        <div id="head_title">
            <div id="head_quote">" 나는 네가 <p>#노담</p>이면 좋겠어 "</div>
            <div id="head_signup">
                {% if not request.session.username %}
                    <a href="{% url 'signup' %}"><span> 회원가입 </span></a>
                    <a href="{% url 'login' %}"><span> 로그인 </span></a>
                {% else %}
                    <a href="{% url 'logout' %}"><span id="logout_text"> 로그아웃 </span></a>
                {% endif %}
            </div>
        </div>

        <div id="head_menu">
            <ul>
                <div id="submenus">
                    <a href="{% url 'index' %}"><ol class="submenu" style="font-family: SCD6; font-weight:border";>메인</ol></a>
                    <a href="{% url 'smokingmap' %}"><ol class="submenu" style="color:rgba(240, 189, 65);font-family: SCD6;">흡연/금연구역</ol></a>
                    <a href="{% url 'clinic' %}"><ol class="submenu" style="font-family: SCD6";>금연 클리닉</ol></a>
                    <a href="{% url 'community' %}"><ol class="submenu" style="font-family: SCD6";>커뮤니티</ol></a>
                    <a href="{% url 'dashboard' %}"><ol class="submenu" style="font-family: SCD6";>대시보드</ol></a>
                </div>
            </ul>
        </div>
    </div>

        <div id='body_bottom'>
            <div id="body_center">
                <div id='body_bottom'>
                    <div id="body_center">
                        <br>
                        <br>
                        <div id='map_head_content'></div>
                        <br>
                        <div>
                            <div class='select_div'>
                                <select class="godwjdrn" style="height: 40px;">
                                    <optgroup label="서울시히트맵">
                                        <option value="흡연구역히트맵" selected>히트맵</option>
                                    </optgroup>
                                    <optgroup label="흡연구역">
                                        <option value="서울시">서울시</option>
                                        <option value="강남구">강남구</option>
                                        <option value="강북구">강북구</option>
                                        <option value="강서구">강서구</option>
                                        <option value="관악구">관악구</option>
                                        <option value="광진구">광진구</option>
                                        <option value="구로구">구로구</option>
                                        <option value="노원구">노원구</option>
                                        <option value="동대문구">동대문구</option>
                                        <option value="동작구">동작구</option>
                                        <option value="마포구">마포구</option>
                                        <option value="서대문구">서대문구</option>
                                        <option value="서초구">서초구</option>
                                        <option value="성동구">성동구</option>
                                        <option value="송파구">송파구</option>
                                        <option value="양천구">양천구</option>
                                        <option value="영등포구">영등포구</option>
                                        <option value="용산구">용산구</option>
                                        <option value="은평구">은평구</option>
                                        <option value="중구">중구</option>
                                        <option value="중랑구">중랑구</option>
                                    </optgroup>
                                    <optgroup label="금연구역">
                                        <option value="서울시금연구역">서울시 금연구역</option>
                                    </optgroup>
                            </select>
                        </div>
                        <br>
                        <div id='map_content'></div>
                        <br>
                        <div class="mapdiv" id="mapdiv">
                
                        </div>
                        <br>
                        <br>
            
                    </div>
                </div>
            </div>
        </div>

    
    </div> 
    <div id="page_foot">
        <div id="foot_logo"></div> 
        <div id="companyinfo">
            <p id="company_address">(주) 멀캠에서 코딩해조 | 서울특별시 강남구 언주로 508 14층(역삼동, 서울상록빌딩)</p>
            <p id="copyright">Copyright by Multicoding Co., Ltd. All rights reserved.</p>
        </div>
    </div>
       
</body>
</html>