<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta charset=" UTF-8">
    <title>노담지킴이</title>
    <link rel="stylesheet" type="text/css" href="../static/resources/css/main.css">
    <script src='../static/resources/js/jquery-3.6.0.min.js'></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script 'type= text/javascript>
        $(document).on("keyup", "#userPhone", function(){
             $(this).val($(this).val().replace(/[^0-9]/g, "").replace(/(^02|^0505|^1[0-9]{3}|^0[0-9]{2})([0-9]+)?([0-9]{4})$/,"$1-$2-$3").replace("--", "-"))
        })
    </script>
</head>
<body>
    <div id="page_head">
        <div id="head_logo"></div>
        <div id="head_title">
            <div id="head_quote">" 나는 네가 <p>#노담</p>이면 좋겠어 "</div>
            <div id="head_signup">
                {% if not request.session.username %}
                    <a href="{% url 'signup' %}"><span> 회원가입 </span></a>
                    <a href="{% url 'login' %}"><span> 로그인 </span></a>
                {% else %}
                    <a href="{% url 'logout' %}"><span id="logout_text"> 로그아웃 </span></a>
                {% endif %}
            </div>
        </div>

        <div id="head_menu">
            <ul>
                <div id="submenus">
                    <a href="{% url 'index' %}"><ol class="submenu" style="color:rgba(240, 189, 65);">메인</ol></a>
                    <a href="{% url 'smokingmap' %}"><ol class="submenu">흡연/금연구역</ol></a>
                    <a href="{% url 'clinic' %}"><ol class="submenu">금연 클리닉</ol></a>
                    <a href="{% url 'community' %}"><ol class="submenu">커뮤니티</ol></a>
                    <a href="{% url 'dashboard' %}"><ol class="submenu">대시보드</ol></a>
                </div>
            </ul>
        </div>
    </div>
    <div id="page_body">
        <form action="{% url 'signup' %}" method="post">{% csrf_token %}
            아이디 : <textarea id="user_id", name="userID", placeholder="사용하실 아이디를 입력하세요."></textarea>
            <br><br>
    
            비밀번호 : <input type="password",id='user_pw', name="userPW1"></input>
            <br><br>
    
            비밀번호 재확인 : <input type="password", id='user_pw2'> <span id ="check"></span>
            <br><br>
    
            이름 : <input type="text" name="userName" id="user_name">
            <br><br>
    
            생년월일 : <input type="text", name = 'userbirthDay', id="user_birthday" placeholder="YYYYMMDD">
    
            <br><br>
    
            성별 : 
            <select name="userGender">
                <option value="">성별</option>
                <option value="남">남</option>
                <option value="여">여</option>
            </select>
            <br><br>
    
            이메일 : <textarea id="user_email", name="userEmail", placeholder="leenodam@nodam.com" ></textarea>
            <br><br>
    
            휴대전화 : <textarea id='user_phone', name ='userPhone', placeholder="01012345678""></textarea>
            <br><br>
    
            각오 한마디 : <br><textarea id="user_attitude", name="userAttitude", placeholder="노담 시작의 각오 한마디 적어주세요!"></textarea> 
            <br><br>
    
            금연 시작일 : <input type="date" id='user_startday' name="startDay">
            <br><br>
    
            <input type="submit" value="가입하기">
            <input type="button" value="뒤로가기",onclick="location.href='../'" >
        </form>
    </div> 
    <div id="page_foot">
        <div id="foot_logo"></div> 
        <div id="companyinfo">
            <p id="company_address">(주) 멀캠에서 코딩해조 | 서울특별시 강남구 언주로 508 14층(역삼동, 서울상록빌딩)</p>
            <p id="copyright">Copyright by Multicoding Co., Ltd. All rights reserved.</p>
        </div>
    </div>
       
</body>
</html>