<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/resources/css/update.css">
    <script src='../static/resources/js/jquery-3.6.0.min.js'></script>
    <script>
        // --------------------------------------------------------------------
        let xhttp = new XMLHttpRequest();

xhttp.onreadystatechange = function () {
    if(xhttp.readyState == 4 && xhttp.status == 200){
        jsonfunc(this.responseText); //this = xhttp
//		jsonfunc(xhttp.responseText); // 둘다 가능
    }
}
xhttp.open("GET","../static/resources/crawling/nc_count.json", true);
xhttp.send();

function jsonfunc( jsonText ) {
    let json = JSON.parse(jsonText); // String -> json으로 변환
    document.getElementById('count1').innerHTML = json['count1']+'명';
    document.getElementById('count2').innerHTML = json['count2']+'명';
}

// --------------------------------------------------------------------
let xhttp2 = new XMLHttpRequest();

xhttp2.onreadystatechange = function () {
    if(xhttp2.readyState == 4 && xhttp2.status == 200){
        create_list(this.responseText); 
    }
}
xhttp2.open("GET","../static/resources/crawling/publicHealth.json", true);
xhttp2.send();

function create_list( jsonText ) {
    let json = JSON.parse(jsonText); // String -> json으로 변환
    json = json['list']
    
    var keys = Object.keys(json);
    var list_ul = document.getElementById('left_list')
    for(var i = 0; i<keys.length;i++){
        
        var area = json[keys[i]][0]['area']
        
        var list_li = document.createElement('li')
        list_li.innerHTML=area
        list_li.setAttribute('onclick','search_health('+keys[i]+')')
        list_ul.appendChild(list_li)
    }
}

// --------------------------------------------------------------------
function search_health(i){
  
  let xhttp3 = new XMLHttpRequest();

  xhttp3.onreadystatechange = function () {
      if(xhttp3.readyState == 4 && xhttp3.status == 200){
          health(this.responseText,i); //this = xhttp
      }
  }
  xhttp3.open("GET","../static/resources/crawling/publicHealth.json", true);
  xhttp3.send();

  function health(jsonText,num){
      let json = JSON.parse(jsonText); // String -> json으로 변환
      json = json['list']
      // console.log(json[num])
      var right_list = document.getElementById('right_list')
      
      if (right_list.hasChildNodes('tr')){
          // console.log(right_list)
          var child_tr = document.getElementsByClassName('json_content_tr')

          while(child_tr.length > 0){
              child_tr[0].parentNode.removeChild(child_tr[0]);
          }
      }

      for (var i=0; i<json[num].length;i++){

          var json_content_tr = document.createElement('tr')
          json_content_tr.setAttribute('class','json_content_tr')
          json_content_tr.setAttribute('id','tr'+i)

          td_list = ['public','address','tel']

          for (var j=0; j<3; j++){
              var json_content_td = document.createElement('td')
              json_content_td.innerHTML = (json[num][i][td_list[j]])
              json_content_tr.appendChild(json_content_td)
          }
          

          // json_content.innerHTML = json[num][i]['tell']
          right_list.appendChild(json_content_tr)
      }
  }
}
</script>   
</head>
<body>
    <!-- page_head -->
    <div id="page_head">
      <div id="head_logo"></div>
      <div id="head_title">
          <div id="head_quote">" 나는 네가 <p>#노담</p>이면 좋겠어 "</div>
          <div id="head_signup">
              {% if not request.session.username %}
                  <a href="{% url 'signup' %}"><span> 회원가입 </span></a>
                  <a href="{% url 'login' %}"><span> 로그인 </span></a>
              {% else %}
                  <a href="{% url 'logout' %}"><span id="logout_text"> 로그아웃 </span></a>
              {% endif %}
          </div>
      </div>

      <div id="head_menu">
          <ul>
              <div id="submenus">
                  <a href="{% url 'index' %}"><ol class="submenu" style="color:rgba(240, 189, 65);">메인</ol></a>
                  <a href="{% url 'smokingmap' %}"><ol class="submenu">흡연/금연구역</ol></a>
                  <a href="{% url 'clinic' %}"><ol class="submenu">금연 클리닉</ol></a>
                  <a href="{% url 'community' %}"><ol class="submenu">커뮤니티</ol></a>
                  <a href="{% url 'dashboard' %}"><ol class="submenu">대시보드</ol></a>
              </div>
          </ul>
      </div>
    </div>

    <!-- page_body -->
    <div class="page_body1">
      <br>
      <div class="main_title">
        <h1 id="title"><p id="title01">#노담노담</p> 글 수정</h1>
      </div>
      <br>
      <p id="nodam_quote">#담배는 노답, #나는 노담! 우리 함께 이겨냅시다!</p>
      <br>
      <p id="caution">
          * 저속한 표현, 타인의 명예훼손, 상업성, 불 건전한 내용의 게시글을 게시할 경우 <br>
          임의로 삭제될 수 있으며 노담노담 커뮤니티 서비스 이용에 불이익이 갈 수 있음을 알려드립니다.
      </p>
      <br>
    </div>



  <!-- page_body2 -->
  <div class="page_body2">
    <form action="/updateres/" method="post">{% csrf_token %}
      <input type="hidden" name="id" value="{{dto.id}}">
      <table border="1" id="post_info">
        <tr>
          <th>작성자</th>
          <td>{{request.session.username}}</td>
        </tr>
        <tr>
          <th>제목</th>
          <td><input type="text" name="mytitle" value="{{dto.mytitle}}" id="post_title"></td>
        </tr>
        <tr>
          <th>내용</th>
          <td><textarea name="mycontent" cols="60" rows="10">{{dto.mycontent}}</textarea></td>
        </tr>
        <tr>
          <td colspan="2" align="right">
            <input type="button" value="취소" onclick="location.href='/detail/{{ dto.id }}'">
            <input type="submit" value="수정">
          </td>
        </tr>
      </table>
    </form>
  </div>

  <!-- page_foot -->
  <br>
  <br>
  <div class="page_foot">
      <div id="foot_logo"><img src="..\static\resources\imgs\logo.png" width="100px"></div>           
      <div id="companyinfo">
          <p id="company_address">(주) 멀캠에서 코딩해조 | 서울특별시 강남구 언주로 508 14층(역삼동, 서울상록빌딩)</p>
          <p id="copyright">Copyright by Multicoding Co., Ltd. All rights reserved.</p>
      </div>
  </div>


</body>
</html>